* {
    font-family: 'Bangers', cursive;
}

body {
    width: 750px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

.container {
    background: #ded5df;
}

h1 {
    font-size: 30px;
    padding: 3%;
    margin-left: 2%;
}

.container .flex-container {
    display: flex;
    flex-direction: row;
}

.container nav a {
    text-decoration: none;
    background: #e6bb7a;
    color: #ffffff;
    width: 10%;
    padding: 2%;
    text-align: center;
    border-radius: 5%;
    margin-right: 1%;
    margin-bottom: 3%;
    margin-left: 3%;
}

.container nav a:hover {
    color: #000000;
    background: rgb(198, 192, 201);
    text-decoration: underline;
}

.ana-aciklama {
    background: #f8dfba;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.aciklama {
    display: inline-block;
    width: 40%;
}

.aciklama img {
    width: 100%;
}

/* .aciklama:nth-child(2) {
    padding: 0 5%;
} */

div a {
    text-decoration: none;
    background: #e6bb7a;
    color: #ffffff;
    width: 120%;
    padding: 2%;
    text-align: center;
    border-radius: 5%;
}

div a:hover {
    color: #000000;
    background: rgb(198, 192, 201);
    text-decoration: underline;
}

div p {
    width: 90%;
    text-align: left;
}

span {
    color: #b88424;
}

.galeri {
    background: #f8dfba;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0;
}

.galeri div h3 {
    text-align: center;
}

footer {
    text-align: center;
}

footer div h2 {
    margin-bottom: 4%;
}

footer div h3 {
    color: #ded5df;
}

@media(max-width: 500px) {
    * {
        font-family: 'Bangers', cursive;
    }
    
    body {
        width: 500px;
        margin: 0;
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .container {
        background: #f8dfba;
    }

    h1 {
        text-align: center;
        margin-bottom: -5px;
    }
    
    .container .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container nav a {
        text-decoration: none;
        background: #e6bb7a;
        color: #ffffff;
        width: 12%;
        text-align: center;
        border-radius: 5%;
        margin-bottom: 1%;
    }
    
    .container nav a:hover {
        color: #000000;
        background: rgb(198, 192, 201);
        text-decoration: underline;
    }
    
    .ana-aciklama {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .aciklama {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
    }
    
    .aciklama img {
        width: 100%;
        margin-top: 3%;
        margin-bottom: -3%;
    }

    .aciklama div h3 {
        font-size: 140%;
    }
    
    .aciklama div a {
        text-decoration: none;
        background: #e6bb7a;
        color: #ffffff;
        padding: 20%;
        text-align: center;
        border-radius: 5%;
    }
    
    .aciklama div a:hover {
        color: #000000;
        background: rgb(198, 192, 201);
        text-decoration: underline;
    }
    
    .aciklama div p {
        width: 90%;
        text-align: left;
        margin: auto;
        margin-top: 7%;
        
    }
    
    span {
        color: #b88424;
    }
    
    .galeri {
        background: #f8dfba;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2% 0;
    }
    
    .galeri div h3 {
        text-align: center;
    }
    
    footer {
        text-align: center;
        background: #ded5df;
    }
    
    footer div h2 {
        margin-bottom: 4%;
    }
    
    footer div h3 {
        color: #ded5df;
    }
  }